

!thirdpartymods/*.jar
.build.json
.curseclient
.persistent/multibeds/embroidery.dat
.vote2020_marker
*.csv
*.dll
*.xlsx
*.log
/.fabric/
/.mixin.out/
/.persistent/
/backups/
/classes/
/craftpresence/
/crash-reports/
/ct_dumps/
/data/
/debug/
/defaultconfig/
/dumps/
/emojiful/
/journeymap/
/libraries/
/llibrary/
/local/
/logs/
/mods/
/natives/
/rrp.debug/
/saves/
/screenshots/
/tellme/
/TEMP/
/tutorials/
/world/
/XaeroWaypoints/
/XaeroWaypoints_BACKUP062020/
/XaeroWorldMap/
background.png
BotaniaVars.dat
config.json
config/chancecubes/custom_rewards/CustomSounds-Resourcepack.zip
config/jei/bookmarks.ini
dcintegration-common.toml
defaultconfigs/crashutilities-server.toml
config/tellme.toml
config/worldstripper-common.toml
ds_private_storage.json
eula.txt
knownkeys.txt
ops.json
options.txt
patchouli_data.json
realms_persistence.json
reauth.toml
servers.dat
servers.dat_old
soundsMuffled.dat
TrashSlotSaveState.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
whitelist.json
resourcepacks/Quark Programmer Art.zip
/kubejs/exported/